.Footer {
    color: white;
    background: #201c1c;
    padding: 15px;
}

.FooterSocial {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.FooterSocial img{
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
}

.FooterContentSeparator {
    height: 1px;
    background-image: linear-gradient(to right, transparent 25%, #a8a5a5 40%, #a8a5a5 60%, transparent 75%);
    border: none;
}

.FooterLinks {
    padding: 10px;
}

.FooterLinks a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.FooterLinksCenter {
    text-align: center;
}

.FooterCopyright {
    color: #636363;
    padding: 20px;
    text-align: center;
}
