.Slider {
    
    width:90%;
    transform: translateX(5%);
}

.Title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, transparent 25%, black 40%, black 60%, transparent 75%);
}

.Description {
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    min-width: 280px;
    display: inline-block;
    height: 100px;
}

.Description h2{
    line-height: 0px;
}

.Rating {
    font-size: 25px;
    padding-top: 6px;
}

.Cover {
    text-align: center;
}

.CoverChild {
    display: inline-block;
    vertical-align: middle;
}

.Cover img {
    height: 400px;
}